name: Elixir CI

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    name: Build, Test, and Dialyzer
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@61e01a43a562a89bfc54c7f9a378ff67b03e4a21
        with:
          elixir-version: '1.16.3'
          otp-version: '26.0'

      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Install dependencies
        run: MIX_ENV=test mix deps.get

      - name: Cache Dialyzer PLT
        uses: actions/cache@v3
        with:
          path: _build
          key: ${{ runner.os }}-dialyzer-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-dialyzer

      - name: Build PLT
        run: mix dialyzer --plt
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Run Dialyzer
        run: mix dialyzer

      - name: Run Credo Linter
        run: mix credo

      - name: Run tests
        run: MIX_ENV=test mix coveralls.json

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}